.config-container {
    width: 90%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
}

.titulo {
    font-size: 18px;
    color: var(--text-strong);
    margin-bottom: 10px;
    margin-top: 20px;
}

.config-item {
    background: var(--bg-card);
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .2s;
}

.config-item:hover {
    transform: scale(1.01);
}

.left {
    display: flex;
    gap: 12px;
    align-items: center;
}

.titulo-opcao {
    font-size: 16px;
    font-weight: 600;
}

.sub {
    font-size: 13px;
    opacity: .8;
}

/* Switch */
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 26px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    background-color: #aaa;
    border-radius: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: .3s;
}

.slider:before {
    content: "";
    height: 20px;
    width: 20px;
    background: #fff;
    position: absolute;
    left: 3px;
    bottom: 3px;
    border-radius: 50%;
    transition: .3s;
}

input:checked + .slider {
    background: #4f46e5;
}

input:checked + .slider:before {
    transform: translateX(22px);
}

/* Modal */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.65);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.modal-content {
    background: var(--bg-card);
    padding: 20px;
    width: 90%;
    max-width: 360px;
    border-radius: 14px;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: var(--bg-input);
    border-radius: 8px;
    border: none;
    color: var(--text-normal);
}

.acoes {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.toast {
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    background: #4caf50;
    color: white;
    padding: 12px 18px;
    border-radius: 10px;
    display: none;
}